@import '../variables.css';

.workspace-question-list {
}

.question-wrapper {
    display: flex;
    border: 1px solid var(--gray-light);
    margin-bottom: 5px;
    &:nth-child(2n) {
        background-color: var(--gray-lighter);
    }
}