/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import '../variables.css';

#workspace {
  padding: 5px;
  min-height: 800px;

  .over {
    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 20px;
      border: 1px dashed;
    }
  }
}

.gu-transit {
  opacity: 0.2;
}

.gu-unselectable {
  user-select: none !important;
}